/* ===
Global style
==== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* ===
General style
==== */
.loading {
  margin: 43vh 0;
  display: flex;
  justify-content: center;
}

.body-wrapper {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
}

.page-title {
  font-size: 36px;
  text-align: center;
  margin: 40px;
}

/* ===
Header
==== */
.page-header {
  background-color: #ffe8f1;
  height: 70px;
}

.header-wrapper {
  max-width: 1160px; 
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  line-height: 70px;
}

.main-navigation {
  cursor: pointer;
  line-height: 70px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}

/* ===
Home page
==== */
.home-question {
  text-align: center;
  margin-bottom: 20px;
}

/* ===
Footer
==== */
.page-footer {
  background-color: #ffe8f1;
  height: 40px;
  margin-top: 30px;
}

.copy-right {
  text-align: center;
  font-size: 12px;
  line-height: 40px;
}

/* ===
Media query
==== */

@media all and (max-width: 600px) {
  .header-wrapper {
    padding: 0 10px;
  }

  .main-navigation {
    width: 160px;
  }

  .page-title {
    font-size: 26px;
  }

  .home-question {
    margin: 20px;
    font-size: 16px;
  }
}